/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}

.CodeMirror {
	height: 300px;
}

.h1_tag{
    margin-left: 0;
}
.h2_tag{
    margin-left: 1px;
}
.h3_tag{
    margin-left: 2px;
}
.h4_tag{
    margin-left: 4px;
}
.h5_tag{
    margin-left: 6px;
}
.h6_tag{
    margin-left: 8px;
}