{% extends 'blog/base.html' %}
{% block beforehead %}
    {% autoescape off %}
        <script>
            function checksubmit() {
                var p1id = "{{ form.password.id_for_label }}";
                var p1 = $('#' + p1id);
                var p2id = "{{ form.password2.id_for_label }}";
                var p2 = $('#' + p2id);
                if (p1.val().trim() !== p2.val().trim()) {
                    p2.addClass("uk-form-danger");
                    return false;
                }
                return true;
            }

        </script>
    {% endautoescape %}
{% endblock %}
{% block content %}

    <div class="uk-container uk-container-center">
        <form method="post" class="uk-form uk-form-horizontal" onsubmit="return checksubmit()">
            {% csrf_token %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="uk-form-row">
                        <div class="uk-alert uk-alert-danger uk-width-1-2" data-uk-alert>
                            <a href="" class="uk-alert-close uk-close"></a>
                            <p>{{ error }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="uk-form-row">
                <label class="uk-form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <div class="uk-form-controls">
                    <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                           value="{{ form.username.value|default:'' }}" minlength="5" required>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <div class="uk-form-controls">
                    <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                           value="{{ form.email.value|default:'' }}" required>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <div class="uk-form-controls">
                    <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                           value="{{ form.password.value|default:'' }}" minlength="8" required>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                <div class="uk-form-controls">
                    <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}"
                           value="{{ form.password2.value|default:'' }}" minlength="8" required>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary">register</button>
            </div>
        </form>
    </div>
{% endblock %}

